.quiz-right{
    margin: 0 200px 0;
    hr{margin: 60px 0 40px 0;}
    .wrap-quiz{
        margin-top: 60px;
        .title{
            font-family: "NotoSansCJKKr Regular";
            font-size: 20px;
            color: #000000;
            margin-bottom: 30px;
            span{
                font-family: "NotoSansCJKKr Medium";
                font-size: 26px;
            }
        }

        .wrap-answer{
            input[type="radio"]{
                visibility:hidden;
                margin-bottom: 10px;
            }
            label{
                cursor: pointer;
                font-family: "NotoSansCJKKr Regular";
                font-size: 20px;
                color: #000000;
                margin-left: -16px;
            }
            input:checked + label {
                color: orange;
            }
        }
    }

    .wrap-info{
        display: flex;
        .wrap-input{
            margin-right: 50px;
            .title{
                font-family: "NotoSansCJKKr Regular";
                font-size: 22px;
                color: #000000;
                margin-bottom: 20px;
            }
            .input{
                width: 280px;
                height: 30px;
                background: #f1f1f1;
                border: none;
                padding: 7px 7px 5px 10px;
                font-family: "NotoSansCJKKr Regular";
                font-size: 16px;
                color: #000000;
                &::placeholder{
                    font-family: "NotoSansCJKKr Regular";
                    font-size: 16px;
                    color: #777777;
                    
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }

    .wrap-button{
        display: flex;
        justify-content: center;
        .quiz-submit{
            width: 180px;
            height: 60px;
            font-family: "NotoSansCJKKr Medium";
            font-size: 18px;
            background: #ff8448;
            border-radius: 10px;
            border: none;
            color: #ffffff;
            margin-top: 100px;
            margin-bottom: 180px;
            &:focus{
                outline: none;
            }
        }
    }
}