.quiz-right{
    position: absolute;
    top: 70px;
    left: 50%;
    width: 40%;
    padding-left: 100px;

    .wrap-quiz{
        .title{
            margin: 40px 0px 10px;
            font-size: 22px;
        }

        .wrap-answer{
            input[type="radio"]{
                visibility:hidden;
            }
            label{
                cursor: pointer;
            }
            input:checked + label {
                color: orange;
            }

            div{
                span{
                    color: orange;
                    display: inline-block;
                    width: 100px;
                }
                input:focus{
                    outline: none;
                }
            }
        }
    }

    .quiz-submit{
        width: 90%;
        height: 50px;
        margin-top: 40px;
        border-radius: 50px;
        border: none;
        color: white;
        background: linear-gradient(97deg, rgba(9,100,115,1) 0%, rgba(255,88,16,1) 100%);
    }
}