.member{
    text-align: center;
    position: relative;
    &-img{
        width: 220px;
        height: 220px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 200px;
        margin-bottom: 10px;
    }
    &-name {
        font-family: "NotoSansCJKKr Medium";
        font-size: 22px;
        margin-top: 20px;
    }
    &-phone {
        font-family: "NotoSansCJKKr Regular";
        font-size: 16px;
        color: #777777;
        margin-top: 2px;
    }

    .sns-wrap{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        .insta_img{background-image: url(../../img/insta_logo.png);}
        .git_img{background-image: url(../../img/github_logo.png);}
        .facebook_img{background-image: url(../../img/facebook_logo.png);}
        .icon_box{
            background-size: cover;
            background-repeat: no-repeat;
            width: 26px;
            height: 26px;
            margin: 0 7px;
            resize: none;
        }
        .ir_pm{display:block;overflow: hidden; line-height: 0; text-indent: -9999px;}
    }
}


