.wrap-member{
    margin: 80px 200px 374px 200px;
    height: 1200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;;
    background: #ffffff;
}