.wrap-member{
    height: 1200px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px 330px 374px 330px;
    box-sizing: border-box;
    flex-wrap: wrap;
}