.wrap-member{
    margin: 0 330px 0 330px;
    box-sizing: border-box;
    background: #fddfd2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;;
}