.collection{
    width: 1500px;
    margin: 0 auto;
    .f_color{
        color:#ff8448;
    }
    
    .title-color{
        width: 100%;
        margin: 100px 0 100px 0;
        font-family: "NotoSansCJKKr Bold";
        font-size: 70px;
        text-align: center;
        color: var(--orangish);        
    }

    .carrot-wrap{
        padding: 0 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .empty{
        width: 240px;
        height: 240px;
        border-radius: 30px;
        background: #f1f1f1;

    }
}