.collection{
    //background: #e2e2e2;
    
    .f_color{
        color:#ff8448;
    }
    
    .title-color{
        width: 100%;
        margin: 100px 0 100px 0;
        font-family: "NotoSansCJKKr Bold";
        font-size: 80px;
        text-align: center;
        color: var(--orangish);        
    }

    .carrot-wrap{
        width: 80%;
        margin: 0 auto;
        //background: #cccccc;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .title-carrot{
        width:100px;
        height:100px;
    }
}