.nav {
    position: relative;
  }
  
  .navButton {
    display: inline-block;
    color: #000000;
    width: 70px;
    height:27px;
    text-align: center;
    line-height: 27px;
    margin-right: 50px;
    font-family: "NotoSansCJKKr Regular";
    font-size: 18px;
  }

  .Btndesign {
      position: absolute;
      top: 0px;
      right: 0px;
      margin-top: 20px;
      margin-right: 330px;
  }