.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 330px 0;
  box-sizing: border-box;
}

.navButton {
  display: inline-block;
  color: #000000;
  text-align: center;
  font-family: "NotoSansCJKKr Regular";
  font-size: 18px;
  margin-left: 50px;
}

.nav .home, .nav .home:visited, .nav .home:hover, .nav .home:active{
  color: #000000;
  font-size: 30px;
  font-family: "NotoSansCJKKr Bold";
  line-height: 120px;
  text-decoration: none;
}